.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100vh;
  background: #612c8f;
}

.container {
  background: #fbeee0;
  padding: 48px;
  width: max-content; 
  color: #422800;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  letter-spacing: 2px;
  border: 2px solid;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
}